*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/cool.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display:flex;
  justify-content: center;
  align-items: center;
  transition: background-image .25s ease-in;
}

.weather{
  border-radius: 5px;
  padding: 40px;
  background-color:rgba(0,0,0,0.7);
  margin: 0 auto;

  text-align: center;
  color: #eee;
  position: relative;
}

.weather__input{
  position: relative;
}

.weather__input input{

  outline: none;
  border-radius: 4px;
  border: 1px solid #eee;
  transition: .25s ease;

  padding: 0 15px;
  width: 300px;
  height: 50px;
}


.weather__input input:focus{
  border-color: #6a5af9
}

.weather__input label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  pointer-events: none;
  user-select: none;
  color: #999;
  transition: .25s ease;
}

.weather__input input:not(:placeholder-shown) + label,
.weather__input input:focus + label{
  color: #6a5af9;
  top: 0px;
  padding: 0 10px;
  left: 11px;

  border-radius: 5px;
  display: inline-block;
  background-color: #fff;

}

.weather__place{
  margin: 10px 0;
  text-shadow: 3px 1px #000;
  display: inline-block;
}

.weather__date{
  font-weight: 200;
  font-style: italic;
  margin: 10px 0;
}

.weather__cart{
  text-shadow: 2px 2px #000;
  font-size: 72px;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  
  background-color:rgba(209, 209, 209, 0.6);
}

.weather__sky{
  font-size: 36px;
  font-weight: 500;
}

.weather__warm{
  background-image: url('./assets/warm.jpg');
}

.loading{
  position: absolute;
  display: flex;

  animation: loading 1s infinite;
}

.loading-item{
  width: 40px;
  height: 40px;
  border: 2px solid #ff7870;
  border-radius: 50%;

  margin: 0 10px
}

.wrapper, .loading__wrapper{
  min-width: 300px;
  min-height: 277px;
}

.loading__wrapper{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.notFound{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

@keyframes loading{
  25%{
    transform: rotate(90);
  }
  50%{
    transform: rotate(200deg);
  }

  75%{
    transform: rotate(160deg);
  }

  100%{
    transform: rotate(180deg);
  }
}